<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="hbl_hsab_safa_SAFA.droid" android:installLocation="auto" android:versionCode="23" android:versionName="23">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23" />
	<application android:label="pharm_dbb.Droid"></application>
</manifest>